<footer class="footer">

  <div class="copyright">
    <span>© 2021 - 2022 Michael Ashcroft Ltd</span>
  </div>
  <div class="footer-links">
    {{navigation type="secondary"}}
  </div>
  <div class="made-with-love">
    <span>Custom ghost theme made with love by
      <a href="https://sashinexists.com">Sashin</a>.</span>
  </div>
</footer>