<banner class="main-banner banner" style="background:url({{@site.cover_image}});background-size:cover;background-position:50%;">
    
</banner>

<div class="main-banner-items">
<div class="banner-content">
        <div class="site-description">{{@site.description}}</div>
    </div>
    <h2 class="banner-title we-are-a-space">We are a space for <span
     class="txt-rotate banner-adjective-carousel"
     data-period="3000"
     data-rotate='["fruitful", "honest", "intelligent", "open", "fun", "thoughtful", "productive", "friendly"]'></span> conversations.</h2>
</div>
