<nav class="navigation hide-mobile">
    {{navigation}}
</nav>

<nav class="navigation mobile-only">
    <button class="mobile-menu-button"><i class="mobile-menu-icon far fa-bars"></i></button>
</nav>