<a href="{{url}}" class="post-preview-card">
    <div class="post-preview-card-copy">
        <h6 class="post-preview-card-title">{{title}}</h6>
        <span class="post-preview-card-excerpt">{{excerpt}}</span>
    </div>
</a>