<div class="quote-carousel">
    <i class="fas fa-quote-left"></i>
    <blockquote class="quote-carousel-text">We have a choice. We have two options as human beings. We have a choice between conversation and war. That's it. Conversation and violence.</blockquote>
    <div class="quote-carousel-footer"><span class="quote-carousel-nav">•</span><span class="quote-carousel-author">Sam Harris</span></div>
</div>