<ul class="social-media-nav nav">
    <li><a href="https://twitter.com/{{@site.twitter}}"><i class="fab fa-twitter"></a></i>
    </li>
    <li><a href="https://discord.gg/VK4fx4FSb5"><i class="fab fa-discord"></i></a></li>
    <li><a href="https://www.meetup.com/en-AU/a-culture-of-conversation"><i class="fab fa-meetup"></i></a></li>
</ul>