$rich-black: #0c090b;
$smokey-black: #171215;
$raisin-black: #221B1F;
$raisin-black-light: #2D2429;
$black-coffee: #392D34;

$cultured-white: #F6F4F5;

// all above are from conversation culture

$alice-blue: #ECF8FE;
$columbia-blue: #C5EAFC;
$baby-blue: #9EDBFA; 
$blue-ncs: #0F94D2;
$wave-blue: #0B72A3;
$blue-sapphire: #095E86;
$indigo-dye:#054261;
$prussian-blue: #03283A;
$rich-black-wave-blue: #010D13;
$backdrop-wave-blue: #f5f5f5;    

$champagne-pink: #fce6da;
$apricot: #f9ccb4;
$tumbleweed: #F6B28E;
$rust: #aa440e;

// from here https://coolors.co/f6b28e-e7e7e7-f9c784-fc7a1e-f24c00
$arcadia-orange: #EA671D;


// Special UI colours
$support-red: #ef2d56;
$support-green: #05B37F;
$support-blue: #4937D2;

