//colours

$text-color: black;
$text-color-light: $alice-blue;
$link-color: $wave-blue;
$link-hover-color: $blue-ncs;
$bg-color:  white;
$content-bg-color: white;
$tab-hover: $indigo-dye;
$border-color:  rgba(0,0,0, .75);

//font
$main-font: "Trykker", sans-serif;
$title-font: "Raleway";