.mobile-menu-button {
    font-size: $h3-font-size;
        color: var(--theme-toggle-btn-text-color);
        cursor: pointer;
        height: 5rem;
        width: 5rem;
        border: none;
        border-radius: 1rem;
        background-color: var(--theme-toggle-btn-bg-color);
        margin:0 2rem;
        &:hover {
            transition: 0.3s all;
            color: var(--theme-toggle-btn-hover-text-color);
            background: var(--theme-toggle-btn-hover-bg-color);
        }
}

.mobile-navigation {
    --mobile-nav-bg-color-1: #{transparentize($snippet-bg-color, 0.0125)};
    --mobile-nav-bg-color-2: #{transparentize($bg-color, 0.0125)};
}

.dark-mode {
    .mobile-navigation{
    --mobile-nav-bg-color-1: #{transparentize($dark__snippet-bg-color, 0.0125)};
    --mobile-nav-bg-color-2: #{transparentize($dark__snippet-bg-color-hover, 0.0125)};
    }
}

.light-mode {
    .mobile-navigation{
    --mobile-nav-bg-color-1: #{transparentize($snippet-bg-color, 0.0125)};
    --mobile-nav-bg-color-2: #{transparentize($bg-color, 0.0125)};
    }
}

.mobile-navigation {

    position: absolute;
    z-index: 2;
    top:10rem;
    margin:0;
    display: flex;
    flex-flow: column nowrap;
    background: var(--mobile-nav-bg-color-1);
    width: 95%;
    border-radius: 0 0 1rem 1rem;
    text-align: center;
    transition: all .3s ease-in-out;


    ul.nav:not(.social-media-nav) {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        margin: 0;
        li {
            width: 100%;
            text-align: center;
            height: 10rem;
            margin:0;

            a {
                display: block;
                line-height: 10rem;
                margin:0;
                width: 100%;
                text-align: center;
                font-size: 1.8rem;
                font-weight: 400;
                margin:auto;


            }
        }

        li:nth-child(even) {
            background: var(--mobile-nav-bg-color-2);
        }
    }

}