.footer-button {
    padding: 0 1rem;
    background: var(--btn-bg-color);
    color: var(--text-color);
    position: fixed;
    bottom: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: .3s;
    height: 4rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: space-between;
}

.back-to-top-button {
    right: 1rem;
    border: none;
    height: 3.5rem;
    width: 3.5rem;
    opacity: .3;
    display: block;
    background: var(--btn-bg-color);
    &:hover {
        background: var(--btn-bg-hover-color)!important;
    }
}
