.content-card {
    color: $text-color;
    padding: 5rem;
    border-radius: 1rem;
    width: 100rem;
    padding: 10rem;
    padding-top:5rem;
    max-width: 95vw;
    margin-bottom: 3rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .page-title {

    }

    .page-metadata {
        @include titleStyles();
        font-size: 1.6rem;
        font-weight: 500;
        margin-top:3rem;
    }

    blockquote {
        font-size: 3rem;
        font-weight: 100;
        line-height: 5rem;
        padding: 2rem;
        text-align: center;
    }
}
