.content-card {
  color: $text-color;
  padding: 5rem;
  border-radius: 1rem;
  width: 100rem;
  padding: 10rem;
  padding-top: 5rem;
  max-width: 95vw;
  margin-bottom: 3rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-title {
  }

  .page-metadata {
    @include titleStyles();
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1.5rem;
  }

  blockquote {
    font-size: 3rem;
    font-weight: 100;
    line-height: 5rem;
    padding: 2rem;
    text-align: center;
  }

  hr {
    border: none;
    text-align: center;
    font-weight: 300;
    margin: 4rem 0;

    &::after {
      content: "\2022 \2022 \2022";
      text-align: center;
      font-size: $h3-font-size;
    }
  }

  h3 {
    @include titleStyles();
    font-size: $h3-font-size;
    color: $link-color;
  }

  h2 {
    @include titleStyles();
    font-size: $h3-font-size;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  h1 {
    @include titleStyles();
    font-size: $h1-font-size;
    text-align: center;
  }

  .note-from-michael {
    h3 {
      text-align: center;
      font-size: 2rem;
      color: $snippet-title-colour;
      font-weight: bold;
    }
    margin-top: 2rem;
    margin-bottom: 6rem;
    background-color: $snippet-bg-colour;
    padding: 3rem;
    border-radius: 1rem;
  }

  .recommended-snippet {
    h3.recommended-snippet_title {
      text-align: center;
      font-size: 2rem;
      color: $recommended-snippet-title-colour;
      font-weight: bold;
    }
    margin-top: 6rem;
    background-color: $recommended-snippet-bg-colour;
    padding: 3rem;
    border-radius: 1rem;
  }

  blockquote.quote-snippet {
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    justify-content: left;
    border-left: 2px solid black;
    text-align: left;
    margin-left: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

    &:before {
      content: "❝";
      font-size: 3rem;
      font-family: Georgia, "Times New Roman", Times, serif;
      text-align: left;
      display: block;
    }

    span.quote-snippet_content {
    }
    span.quote-snippet_author {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  blockquote.quote-snippet-long {
    span.quote-snippet-long_content {
      font-size: 2.4rem;
      font-weight: 100;
      line-height: 4rem;
      padding: 2rem;
      text-align: justify;
    }
    span.quote-snippet-long_author {
      font-size: 2rem;
      font-weight: bold;
      line-height: 2rem;
    }
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5rem;
  }

  .post-image {
    height: 20rem;
    width: 70rem;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    margin: 2.5rem 0 3rem 0;
    display: flex;
    flex-flow: column nowrap;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
}
