.content-card {
  color: var(--text-color);
  padding: 5rem;
  border-radius: 1rem;
  width: 100rem;
  padding: 10rem;
  padding-top: 5rem;
  max-width: 95vw;
  margin-bottom: 3rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-title {
  }

  .page-metadata {
    @include titleStyles();
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

p {
  //text-align: left;
}

.text-align-center {
  p {
    text-align: center;
  }
}

  ul,ol {
    @include listStyles;
    margin-bottom:3rem;
  }

  blockquote {
    font-size: 2.8rem;
    font-weight: 100;
    line-height: 5rem;
    padding: 2rem;
    text-align: center;
  }

  hr {
    border: none;
    text-align: center;
    font-weight: 300;
    margin: 4rem 0;

    &::after {
      content: "\2022 \2022 \2022";
      text-align: center;
      font-size: $h3-font-size;
    }
  }

  h3 {
    @include titleStyles();
    margin-top: 1rem;
    font-size: $h3-font-size;
    color: var(--title-color);
  }

  h2 {
    @include titleStyles();
    font-size: $h2-font-size;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 4rem;
  }

  h1 {
    @include titleStyles();
    font-size: $h1-font-size;
    text-align: center;
  }

  .callout-box {
    h3 {
      text-align: center;
      font-size: 2rem;
      color: var(--snippet-title-color);
      font-weight: bold;
    }
    margin-top: 2rem;
    margin-bottom: 6rem;
    background-color: var(--snippet-bg-color);
    padding: 3rem;
    border-radius: 1rem;
    @include box-shadow-standard
  }

  .recommended-snippet {
    h3.recommended-snippet_title {
      text-align: center;
      font-size: 2rem;
      color: var(--recommended-snippet-title-color);
      font-weight: bold;
    }
    margin-top: 6rem;
    background-color: var(--recommended-snippet-bg-color);
    padding: 3rem;
    border-radius: 1rem;
  }

  blockquote.quote-snippet {
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    justify-content: left;
    border-left: 2px solid var(--text-color);
    text-align: left;
    margin-left: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

    &:before {
      content: "❝";
      font-size: 3rem;
      font-family: Georgia, "Times New Roman", Times, serif;
      text-align: left;
      display: block;
    }

    span.quote-snippet_content {
    }
    span.quote-snippet_author {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  blockquote.quote-snippet-long {
    font-size: 2rem;
    line-height: 3.6rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    justify-content: left;
    border-left: 2px solid var(--text-color);
    text-align: left;
    margin-left: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

    &:before {
      content: "❝";
      font-size: 3rem;
      font-family: Georgia, "Times New Roman", Times, serif;
      text-align: left;
      display: block;
    }

    span.quote-snippet_content {
    }
    span.quote-snippet-long_author {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .post-image {
    height: 20rem;
    width: 70rem;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    margin: 0rem 0 1rem 0;
    display: flex;
    flex-flow: column nowrap;
    transition: 0.3s;
    @include box-shadow-standard
  }

  .page-image {
    @extend .post-image;
    height: 30rem;
    width: 70rem;
    margin: 1rem 0 1.5rem 0;
  }
}
