$champagne-pink: #fce6da;
$apricot: #f9ccb4;
$tumbleweed: #f6b28e;
$rust: #aa440e;

// from here https://coolors.co/f6b28e-e7e7e7-f9c784-fc7a1e-f24c00
$arcadia-orange: #ea671d;

$dark__text-color: $cultured-white;
$dark__text-color-light: $champagne-pink;
$dark__link-color: $arcadia-orange;
$dark__link-hover-color: $tumbleweed;
$dark__title-color: $apricot;
$dark__bg-color: $rich-black;
$dark__content-bg-color: black;
$dark__snippet-title-color: $rust;
$dark__snippet-bg-color: $smokey-black;
$dark__snippet-bg-color-hover: $raisin-black;
$dark__border-color: rgba(255, 255, 255, 0.75);

$dark__btn-bg-color: rgb(53, 53, 56);
$dark__btn-text-color: $text-color;
$dark__btn-hover-bg-color: rgb(233, 233, 240);
$dark__btn-hover-text-color: $link-hover-color;

$dark__theme-toggle-btn-bg-color: $raisin-black-light;
$dark__theme-toggle-btn-text-color: $dark__text-color;
$dark__theme-toggle-btn-hover-bg-color: $cultured-white;
$dark__theme-toggle-btn-hover-text-color: $raisin-black;

$dark__box-shadow-standard-color-1: $box-shadow-standard-color-1;
$dark__box-shadow-standard-color-2: $box-shadow-standard-color-2;
$dark__box-shadow-emphasised-color: $box-shadow-emphasised-color;

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #{$dark__text-color};
    --text-color-light: #{$dark__text-color-light};
    --link-color: #{$dark__link-color};
    --link-hover-color: #{$dark__link-hover-color};
    --title-color: #{$dark__title-color};
    --bg-color: #{$dark__bg-color};
    --content-bg-color: #{$dark__content-bg-color};
    --snippet-title-color: #{$dark__snippet-title-color};
    --snippet-bg-color: #{$dark__snippet-bg-color};
    --snippet-bg-color-hover: #{$dark__snippet-bg-color-hover};
    --btn-bg-color: #{$dark__btn-bg-color};
    --border-color: #{$dark__border-color};
    --theme-toggle-btn-text-color: #{$dark__theme-toggle-btn-text-color};
    --theme-toggle-btn-bg-color: #{$dark__theme-toggle-btn-bg-color};
    --theme-toggle-btn-hover-bg-color: #{$dark__theme-toggle-btn-hover-bg-color};
    --theme-toggle-btn-hover-text-color: #{$dark__theme-toggle-btn-hover-text-color};
    --box-shadow-standard-color-1: #{$dark__box-shadow-standard-color-1};
    --box-shadow-standard-color-2: #{$dark__box-shadow-standard-color-2};
    --box-shadow-emphasised-color: #{$dark__box-shadow-emphasised-color};
  }
}

body.dark-mode {
  --text-color: #{$dark__text-color};
    --text-color-light: #{$dark__text-color-light};
    --link-color: #{$dark__link-color};
    --link-hover-color: #{$dark__link-hover-color};
    --title-color: #{$dark__title-color};
    --bg-color: #{$dark__bg-color};
    --content-bg-color: #{$dark__content-bg-color};
    --snippet-title-color: #{$dark__snippet-title-color};
    --snippet-bg-color: #{$dark__snippet-bg-color};
    --snippet-bg-color-hover: #{$dark__snippet-bg-color-hover};
    --border-color: #{$dark__border-color};
    --theme-toggle-btn-text-color: #{$dark__theme-toggle-btn-text-color};
    --theme-toggle-btn-bg-color: #{$dark__theme-toggle-btn-bg-color};
    --theme-toggle-btn-hover-bg-color: #{$dark__theme-toggle-btn-hover-bg-color};
    --theme-toggle-btn-hover-text-color: #{$dark__theme-toggle-btn-hover-text-color};
    --box-shadow-standard-color-1: #{$dark__box-shadow-standard-color-1};
    --box-shadow-standard-color-2: #{$dark__box-shadow-standard-color-2};
    --box-shadow-emphasised-color: #{$dark__box-shadow-emphasised-color};
}

.dark-mode {
  .formkit-form {
    box-shadow: none !important;
    background: none !important;
    border-radius: 1rem;
  .formkit-column, .formkit-background {
    background: var(--snippet-bg-color) !important;
    color: var(--text-color) !important;
    border: none!important;
    button.formkit-submit {
      background: var(--btn-bg-color)!important;
    }
    p {
      color: var(--text-color)!important;
    }
    .formkit-header {
      h2 {
        color: var(--text-color);
      }
    }
    .formkit-field {
      input {
        background: var(--bg-color);
        color: var(--text-color)!important;
        border: none;
      }
    }
  }}
}