html {
  font-size: $rem-size;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
  max-width: 100%;
}

body {
 @include defaultText();
@include column();
  background: $bg-color;

  a {
    color: $link-color;
    text-decoration: none;
    &:hover {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }

  .text-align-center {
    text-align: center;
  }
  
  @include paragraphStyles();
  @include listStyles();
}

.desktop-only {
  display: block;
  visibility: visible;
}

.mobile-only {
  display: none;
  visibility: hidden;    
}

.page-title {
  @include titleStyles();
  font-size: $page-title-font-size;
}

h3 {
  @include titleStyles();
  font-size: $h3-font-size;
}

h1 {
  @include titleStyles();
  font-size: $h1-font-size;

}