html {
  font-size: $rem-size;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
  max-width: 100%;
}

body {
  @include defaultText();
  @include column();
  background: var(--bg-color);

  a {
    color: var(--link-color);
    text-decoration: none;
    &:hover {
      color: var(--link-hover-color);
      text-decoration: underline;
    }
  }

  .text-align-center {
    text-align: center;
  }

  @include paragraphStyles();
  @include listStyles();
}

.desktop-only {
  display: block;
  visibility: visible;
}

.mobile-only {
  display: none;
  visibility: hidden;
}

.mobile-and-tablet {
  display: none;
  visibility: hidden;
}

.page-title {
  @include titleStyles();
  font-size: $page-title-font-size;
}

h3 {
  @include titleStyles();
  font-size: $h3-font-size;
}

h1 {
  @include titleStyles();
  font-size: $h1-font-size;
}
.formkit-form {
  @include box-shadow-standard;
  background: none !important;
  border-radius: 1rem;
  .formkit-column,
  .formkit-background {
    background: var(--snippet-bg-color) !important;
    color: var(--text-color) !important;
    border: none !important;
    button.formkit-submit {
      background: var(--btn-bg-color) !important;
      color: var(--text-color) !important;
    }
    p {
      color: var(--text-color) !important;
    }
    .formkit-header {
      h2 {
        color: var(--text-color);
      }
    }
    .formkit-field {
      input {
        background: var(--bg-color);
        color: var(--text-color) !important;
        border: none;
      }
    }
  }
}
