html {
  font-size: $rem-size;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
  max-width: 100%;
}

body {
  font-family: $main-font;
  line-height: $default-line-height;
  font-size: $main-font-size;
  font-weight: normal;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $bg-color;
  color: $text-color;

  a {
    color: $link-color;
    text-decoration: none;
    &:hover {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }

  p {
    margin: 3rem 0;
  }

  ul {
    margin-left: 3rem;
    li {
      margin: 1.5rem;
    }
  }
}

.desktop-only {
  display: block;
  visibility: visible;
}

.mobile-only {
  display: none;
  visibility: hidden;    
}

h3 {
  font-family: $title-font;
  font-size: $h3-font-size;
  font-weight: 500;
  height: 100%;
  letter-spacing: $title-letter-spacing;
  font-variant: small-caps;
}

h1 {
  font-family: $title-font;
  font-size: $h1-font-size;
  font-weight: 500;
  height: 100%;
  letter-spacing: $title-letter-spacing;
  font-variant: small-caps;
  margin-top:1rem;
  margin-bottom:4rem;
}
