a.post-preview-card {
    margin:0rem;
    padding:3rem;
    margin-bottom: 5rem;
    color: var(--text-color);
    display: block;
    border-radius: 1rem;
    cursor:pointer;
    transition:  all .6s;
    .post-preview-card_image {
        height: 18rem;
        width: 63rem;
        max-width: 100%;
        max-height: 100%;
        background-size:cover;
        background-repeat: no-repeat;
        border-radius: 1rem;
        margin: 1rem auto 2.5rem auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 0.3s;
        @include box-shadow-standard;
      }

    .post-preview-card_copy {
        padding-bottom: 2rem;
        border-bottom: solid 0.025rem var(--border-color);

        .post-preview-card_copy_title {
            font-size: $card-title-font-size;
            margin-bottom:2rem;
            text-align: center;
            font-family: $title-font;
            font-weight: 500;
            font-variant: small-caps;
            line-height: 4rem;
            letter-spacing: .4rem;
        }
    }

    .post-preview-card_metadata{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content:space-between;
        height: 5rem;
        width: 100%;
        button.post-preview-card_metadata_read-more {
            color: var(--text-color);
            border: none;
            background: none;
            font-family: $title-font;
            cursor: pointer;
            font-variant: small-caps;
            font-size: 2rem;
            line-height: 5rem;
            height: 100%;
            letter-spacing: .4rem;
            transition:  all .6s;
        }

        .post-preview-card_metadata_author {
            border: none;
            background: none;
            font-family: $title-font;
            cursor: pointer;
            font-variant: small-caps;
            font-size: 2rem;
            line-height: 5rem;
            height: 100%;
            letter-spacing: .4rem;
            transition:  all .6s;
            a {
                display: block;
                text-decoration: none;
            }
        }

        .post-preview-card_metadata_reading-time {
            display: block;
            border: none;
            background: none;
            font-family: $title-font;
            cursor: pointer;
            font-variant: small-caps;
            font-size: 2rem;
            line-height: 5rem;
            height: 100%;
            letter-spacing: .4rem;
            transition:  all .6s;
        }
    }

    &:hover {
        text-decoration: none;
        color: var(--text-color);
        transition:  all .6s;
        @include box-shadow-emphasised;
        background: var(--snippet-bg-color);
        button.post-preview-card_metadata_read-more {
            letter-spacing: .7rem;
            transition:  all .6s;
            &:hover {
                color: var(--link-hover-color);
            }

        }
    }
}